NEXT_PUBLIC_SUPABASE_URL=https://wzglymldzpdqajfbcshz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=ضع_المفتاح_هنا

NEXT_PUBLIC_APP_URL=https://rabtchibloger.vercel.app

SUPABASE_SERVICE_ROLE_KEY=ضع_service_role_هنا

PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=ضع_client_id_هنا
PAYPAL_CLIENT_SECRET=ضع_client_secret_هنا

OPENAI_API_KEY=ضع_openai_key_هنا
OPENAI_MODEL=gpt-4o-mini
